
*{
    padding: 0;
    margin: 0;
}

html {
  font-size: 20px;

  @include breakpoint-lg {
    font-size: 18px;
  }

  @include breakpoint-md {
    font-size: 16px;
  }

  @include breakpoint-sm {
    font-size: 15px;
  }

  @include breakpoint-xs {
    font-size: 14px;
  }
}

body{
  max-width: 1920px;
  margin: 0 auto;
  font-size: $font-size-base;
  font-family: $font-regular;
  overflow-x: hidden;
  font-size: 18px;
}