@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/utilities';
@import 'fonts.scss';
@import 'base';
@import 'components';

/* HEADER START */

header{
  width: 100%;
  min-height: 1526px;
  margin: 0 auto;
  @include background-img('../img/header-bg.png', cover);
  background-position: center top;

  @include breakpoint-xl {
    min-height: 1500px;
  }

  @include breakpoint-lg {
    min-height: 1000px;
  }

  @include breakpoint-md {
    min-height: 700px;
  }

  @include breakpoint-sm {
    background-position: left top;
  }
}

.heading{ 
   padding: 4rem 0 8rem;

   @include breakpoint-md{
     padding: 4rem 1rem 4rem;
   }

  .logo{
    @extend %logo;
  }

  .top-nav_menu{
    transition: .8s;

    @include breakpoint-md{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $white;
      visibility: hidden;
      transform: translateX(992px);

      &_active{
        visibility: visible !important;
        z-index: 100;
        transform: translateX(0px) !important;
        }
    }
    
    .top-nav_list{
      @include horizontal-list;

      @include breakpoint-md{
          padding: calc(4rem + 50px) 50px 0;
      }
      
      a{
        @extend %menu-item;
        padding: 0 30px;
        transition: $transition-base;

        @include breakpoint-md{
          display: block;
          text-align: center;
          line-height: 5;
        }
        
        &:hover{
          color: $active-color;
        }
      }
    }
  }

  #login{
    margin-left: 5rem;
    padding: 0 2rem;
    border: 0;
    border-radius: 35px;

    letter-spacing: 3;
    color: $white;
    transition: all $transition-base;

    @include breakpoint-md{
      width: 50%;
      margin: 2rem auto;
      line-height: 2.5;
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 2px rgba(255,106,109,1);
      transition: all $transition-base;
    }
  }
}

.header-description{
  width: 50%;
  padding-left: 8%;

  @include breakpoint-lg{
    width: 80%;
  }

  @include breakpoint-md{
    width: 100%;
    padding-left: 0;
  }

  .page-title{
    @extend %section-title;
    line-height: 1.3;
    margin-bottom: 2.5rem;
  }

  .paragraph{
    margin-bottom: 2.5rem;

    @include breakpoint-xs {
      margin-bottom: 4.5rem;
      color: $black;
    }
  }

  .act-btn-container{
    margin-bottom: 2.5rem;
    
    .btn-service, .btn-signup{
      font-size: 1rem;
      padding: 1rem 4rem;
      border-radius: 40px;

      @include breakpoint-md {
        margin: 0 0 10px;
        width: 50%;
      }

      @include breakpoint-xs {
        width: 100%;
        margin: 0 0 10px;
      }
    }
  }
}

/* HEADER END */

/* WHY BERYOGA START */

.why-beryoga{

  .why-beryoga_title{
    max-width: 720px;
    margin: 0 auto 6rem;

    .section-title{
      @extend %section-title;
      margin-bottom: 2rem;
    }
  }

  .advantages-container{
    margin-bottom: 6.25rem;
    
  	@include breakpoint-xl{
      margin-bottom: 3.25;
    }

    @include breakpoint-xs{
      margin-bottom: 0;
    }
  
    .advantages-block{

      .block-title{
        @extend %block-title;
        text-align: center;
        margin-bottom: 1rem;
      }

      //imgs for blocks

      @each $num in (1, 2, 3) {
        &:nth-child(#{$num})::before {
          content: '';
          @include background-img('../img/why-beryoga_#{$num}-img.png', contain);
          @include size(auto, 11rem);
          display: block;
          margin-bottom: 3.5rem;
        }
      }

      .paragraph{
        padding: 0 3.5rem;
        text-align: center;
        line-height: 1.6;
      }
      
      @media screen and (max-width: 768px){
        margin-bottom: 2.5rem;
      }
    }
  }
}

/* WHY BERYOGA END */

/* CLASSES START */

.offers{
  position: relative;
  margin-bottom: 11rem;

  @include breakpoint-lg{
    margin-bottom: 5rem;
  }

  @include breakpoint-sm{
    margin-bottom: 2rem;
  }

  &::before, &::after{
    content: '';
    position: absolute;

    @include breakpoint-xs{
      display: none;
    }
  }

  &::before{
    @include background-img('../img/offers-decorate_img1.png', contain);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @include size(9rem, 19rem);
  }

  &:after {
    @include background-img('../img/offers-decorate_img2.png', contain);
    right: 0;
    top: 0;
    @include size(7rem, 25rem);
  }

  @include breakpoint-xl{
	  padding-bottom: 4rem;
  }

  @include breakpoint-sm{
	  padding-bottom: 1rem;
  }

  .offers-container{
    display: flex;

    @include breakpoint-lg{
      flex-direction: column;
    }

    .offers-wrapper {
      width: 50%;

      @include breakpoint-lg{
        width: 100%;
        text-align: center;
      }
    }
  
    &::before {
      content: '';
      display: block;
      margin: auto 0;
      @include size(50%, 35rem);
      @include background-img('../img/offers-main_img.png', contain);
      
        @include breakpoint-lg{
          width: 100%;
        }

        @include breakpoint-sm{
          height: 25rem;
        }
    }

    .section-title{
      @extend %section-title;
      margin: 6rem 0 3.7rem;

      @include breakpoint-lg{
        margin: 2.5rem 0;
      }
    }

    .offers-item{
      $icon-width: 30px;
      $icon-height: 25px;
      $block-indent: 74px;

      padding-left: $block-indent;

      @include breakpoint-lg{
        width: 60%;
        margin: 0 auto;
        padding-left: 0;
        text-align: center;
      }

      @include breakpoint-xs{
        width: 100%;
      }

      .block-title {
        @extend %block-title;
        position: relative;

        @include breakpoint-lg{
          padding-top: $icon-height + 10px;
        }

        &::before{
          content: '';
          @include size($icon-width, $icon-height);
          @include background-img('../img/offers_check_img.png', contain);
          position: absolute;
          left: -$block-indent/2;
          transform: translateX(-50%);

          @include breakpoint-lg{
            top: 0;
            left: 50%;
          }
        }
      }
    
    .paragraph{
      padding: 0 0 1.5rem;
      }
    }
  }
}

/* CLASSES END */

/* BLOG START */

.blog {
  position: relative;

  &::before, &::after{
    content: '';
    position: absolute;

    @include breakpoint-xs{
      display: none;
    }
  }

  &::before{
    @include background-img('../img/5ways_decoration_2img.png', contain);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @include size(11rem, 23rem);
  }

  &:after {
    @include background-img('../img/5ways_decoration_1img.png', contain);
    right: 0;
    top: 0;
    @include size(9.75rem, 30rem);
  }

  .article {
    display: flex;
    margin-bottom: 11rem;

    @include breakpoint-lg{
      flex-direction: column!important;
      margin-bottom: 5rem;
    }

    @include breakpoint-sm{
      margin-bottom: 2rem;
    }

    &:nth-child(even)::after, &:nth-child(odd)::before{
        content: '';
        display: block;
        margin: auto 0;
        @include size(50%, 35rem);
        
          @include breakpoint-lg{
            width: 100%;
            margin-bottom: 2rem;
          }

          @include breakpoint-sm{
            height: 25rem;
          }
    }
    
    &:nth-child(even) {

      &::after {
        @include background-img('../img/healing_img.png', contain);
      }
    }

    &:nth-child(odd) {

      &::before {
        @include background-img('../img/five-ways_main_img.png', contain);
        background-position: left center;

        @include breakpoint-lg{
          background-position: center;
        }
      }
    }
  }

  .block-title {
    @extend %section-title;
    margin-bottom: 2rem;

    @include breakpoint-lg{
      text-align: center;
    }
  }

  .article_autor {
    font-family: 'FivoSans Oblique';
    font-size: 1rem;
    color: $black;
  }

  .article_info {
    width: 50%;

    @include breakpoint-lg{
      width: 70%;
      margin: 0 auto;
      order: 1;
    }

    @include breakpoint-sm{
      width: 100%;
    }
  }

  .article_info_content {
    padding-left: 6rem;

    @include breakpoint-lg{
      padding-left: 0;
    }
    
    .read-more-link {
      display: block;
      margin-top: 3rem;
      @extend %link;
    }
  }
}

/* BLOG END */

/* FOOTER / PRICES START */

.main-footer{
  @include background-img('../img/footer-bg.png', cover);
  padding-top: 5rem;
  background-position: center top;
  position: relative;

  &::before, &::after{
    content: "";
    position: absolute;
    @include size(10rem, 17rem);
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint-sm{
      display: none;
    }
  }

  &::before {
    left: 0;
    @include background-img('../img/offers-decorate_img1.png', contain);
  }

  &::after {
    right: 0;
    @include background-img('../img/5ways_decoration_3img.png', contain);
  }

  .prices-packets{
  	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.5rem;
    
  	@include breakpoint-lg{
      flex-direction: column;
    }

    @include breakpoint-md{
      margin-bottom: 5rem;
    }

    .prices-packet{
      padding: 3rem 3.5rem 2.8rem;
      @include size(33%, auto);
      border-radius: 20px;
      box-shadow: 0px 37px 136px 0px rgba(255, 106, 109, 0.19);
      background-color: $white; 
      overflow: hidden;

      @include breakpoint-xl{
        padding: 3rem 1.5rem 2.8rem;
      }

      @include breakpoint-lg{
        margin-bottom: 2rem;
        width: 70%!important;
      }

      @include breakpoint-xs{
        width: 90%!important;
      }

      .block-title{
        @include font(700);
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2.5rem;
      }

      .prices-content{

        @include breakpoint-lg{
          display: flex;
          margin: 2rem 0;
        }

        @include breakpoint-sm{
          flex-direction: column;
          margin: 0;
        }
      }

      ul{
        @include reset-list;
        margin-bottom: 2.5em;

        @include breakpoint-lg{
          margin: 0 auto;
          width: 70%;
        }

        @include breakpoint-sm{
          width: 100%;
        }

        li{
          display: flex;
          margin-bottom: 1.5rem;
          @include font(300);
          font-size: .9rem;
          color: $gray;
          line-height: 2.3;
          vertical-align: center;

          &:before{
            content: '';
            padding-left: 1.5rem;
            display: block;
            box-sizing: content-box;
            @include size(2rem, 2rem);
            @include background-img('../img/check_offer1.png', contain);
          }
        }
      }

      .prices_package-rate{
        text-align: center;
        @include font(400);
        font-size: 7.5rem;
        line-height: 1;
        color: $gray;

        @include breakpoint-xl{
          font-size: 5rem;
        }

        @include breakpoint-lg{
          min-width: 50%;
        }

        @include breakpoint-xs{
          font-size: 4rem;
          margin: 1rem 0;
        }
            
        .sign-dollar{
          font-size: 2.4rem;
          vertical-align: 4.5rem;
          
          @include breakpoint-xl{
            vertical-align: 3.5rem;
          }

          @include breakpoint-xs{
            font-size: 2rem;
            vertical-align: 2rem;
          }  
        }
        
        .offer-time{
          font-size: 1.5rem;
          
          @include breakpoint-xl{
            font-size: 1.2rem;
          }
        }

        .payment{
          margin: 1rem 0 2.8rem;
          font-family: $font-oblique;
          font-size: .9rem;
          color: $gray;
          text-align: center;
        }
      }
      
      .btn-become-member{
        width: 80%;
        margin: 0 auto;
        padding: 0;
        border: none;
        display: block;

        @include font(400);
        border-radius: 38px;
        line-height: 4.3;
        color: $white;
        font-size: .9rem;
        background-image: -moz-linear-gradient( 66deg, rgb(33,172,221) 0%, rgb(157,218,233) 100%);
        background-image: -webkit-linear-gradient( 66deg, rgb(33,172,221) 0%, rgb(157,218,233) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(33,172,221) 0%, rgb(157,218,233) 100%);
        box-shadow: 0px 21px 23.52px 0.48px rgba(95, 206, 244, 0.29);

        @include breakpoint-sm{
          width: 100%;
        }
      }
    }

    .prices-packet[data-label="best-seller"]{
      position: relative;
      padding-top: 8.25rem;
      width: 37%;

      &::before{
        content: 'Best seller';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        @include font(700);
        font-size: 1.5rem;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        background-color: $active-color;
        line-height: 3.5;
      }

      ul li:before{
        @include background-img('../img/check_offer2.png', contain);
      }
      .btn-become-member{
        background: rgb(255, 106, 109);
        box-shadow: 0px 21px 23.52px 0.48px rgba(226, 88, 91, 0.29);
      }
    }
  }
}

.footer-info{
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  padding: 5.5rem 0 2rem;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  max-width: 1420px;

  @include breakpoint-lg{
	  border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
  
  @media screen and (max-width: 568px){
	  padding-bottom: 40px;
  }

  .footer-info_list{
    @include horizontal-list;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto 4.2rem;

    .footer-info_item{

      width: 25%;

      @include breakpoint-md{
        width: 50%;
        margin-bottom: 2.5rem;
      }

      .paragraph{
        text-indent: 0;
        margin-bottom: 1rem;
         
        a{
          @include reset-link;
          color: $gray;
        }
      }

      h5{
        @include font(700);
        text-transform: uppercase;
        color: $gray;
        font-size: .9rem;
        margin-bottom: 2rem;
  
        @media screen and (max-width: 1200px){
          margin-left: 0px;
        }
      }

      .footer-nav{

        ul{
          @include reset-list;

          li a{
            @include font(400);
            font-size: .9rem;
            color: $gray;
            line-height: 2.2;
          }
        }
      }
    }
  }

  .copyright{
    @include font(400);
    font-size: .9rem;
    color: $gray;
    text-align: center;
  }
}