//Size
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin background-img($url, $size) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: $size;
    background-position: center;
}

@mixin font($weight) {
    font-family: 'FivoSans';    
    font-weight: $weight;
    line-height: 1.5;
    color: $dark-gray;
}

//Reset styles
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin reset-link {
    color: $black;
    text-decoration: none;
}

@mixin reset-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@mixin horizontal-list {
    @include reset-list;
    display: flex;
}

//Media Queries
@mixin breakpoint-xxs {
    @media screen and (max-width: 399px) { @content; }
}
@mixin breakpoint-xs {
    @media screen and (max-width: 575px) { @content; }
}
@mixin breakpoint-sm{
    @media screen and (max-width: 767px) { @content; }
}
@mixin breakpoint-md {
    @media screen and (max-width: 991px) { @content; }
}
@mixin breakpoint-lg {
    @media screen and (max-width: 1199px) { @content; }
}
@mixin breakpoint-xl {
    @media screen and (max-width: 1919px) { @content; }
}

