@font-face {
  font-family: 'Fivo Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local("Fivo Sans Light"), url("../fonts/FivoSans-Light.otf"); }

@font-face {
  font-family: 'Fivo Sans Heavy';
  font-style: normal;
  font-weight: normal;
  src: local("Fivo Sans Heavy"), url("../fonts/FivoSans-Heavy.otf"); }

@font-face {
  font-family: 'Fivo Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Fivo Sans Regular"), url("../fonts/FivoSans-Regular.otf"); }

@font-face {
  font-family: 'Fivo Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Fivo Sans Bold"), url("../fonts/FivoSans-Bold.otf"); }

@font-face {
  font-family: 'Fivo Sans Oblique';
  font-style: normal;
  font-weight: normal;
  src: local("Fivo Sans Oblique"), url("../fonts/FivoSans-Light-Oblique.otf"); }

* {
  padding: 0;
  margin: 0; }

body {
  font-size: 18px;
  font-family: "Fivo Sans Regular", sans-serif;
  overflow-x: hidden;
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    body {
      padding: 0; } }

h1, h2, h3, h4, h5, h6 {
  font-size: 50px;
  font-family: "Fivo Sans Bold", sans-serif;
  color: #3b3838;
  line-height: 1.2; }
  @media screen and (max-width: 1200px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 43px; } }
  @media screen and (max-width: 992px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 37px; } }
  @media screen and (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 33px; } }
  @media screen and (max-width: 567px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 27px; } }
  @media screen and (max-width: 360px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 24px; } }

.paragraph {
  font-family: "Fivo Sans Light", sans-serif;
  line-height: 2.3;
  color: #7f9999; }
  @media screen and (max-width: 1200px) {
    .paragraph {
      font-size: 17px;
      line-height: 2.1; } }
  @media screen and (max-width: 992px) {
    .paragraph {
      line-height: 1.9; } }
  @media screen and (max-width: 768px) {
    .paragraph {
      font-size: 16px;
      line-height: 1.9; } }
  @media screen and (max-width: 360px) {
    .paragraph {
      font-size: 15px;
      line-height: 1.7; } }

.article {
  font-family: "Fivo Sans Bold", sans-serif;
  font-size: 24px;
  color: #656565; }
  @media screen and (max-width: 1200px) {
    .article {
      font-size: 23px; } }
  @media screen and (max-width: 992px) {
    .article {
      font-size: 22px; } }
  @media screen and (max-width: 768px) {
    .article {
      font-size: 21px; } }
  @media screen and (max-width: 567px) {
    .article {
      font-size: 20px; } }
  @media screen and (max-width: 360px) {
    .article {
      font-size: 19px; } }

.btn {
  background-color: #ff6a6d;
  color: #FFF;
  text-decoration: none;
  border: solid 2px #ff6a6d;
  transition: 0.2s;
  box-shadow: -5px 5px 20px #ff6a6d; }
  .btn:hover {
    background-color: transparent;
    color: #ff6a6d;
    box-shadow: none; }

.link-wrap {
  text-align: center; }
  .link-wrap .read-more-link {
    margin-left: 55px;
    text-decoration: none;
    color: #3cbef1; }
    @media screen and (max-width: 1200px) {
      .link-wrap .read-more-link {
        margin: 0px 0px 0px 0px !important; } }

/* MENU-BTN */
.menu-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 999;
  top: 42px;
  right: 20px;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 992px) {
    .menu-btn {
      display: block; } }

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  width: 26px;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -13px;
  border-radius: 3px;
  background-color: #7f9999;
  font-weight: normal;
  transition: 0.2s; }

.menu-btn span::before,
.menu-btn span::after {
  display: block;
  content: "";
  transition: 0.5s; }

.menu-btn span::before {
  transform: translateY(6px); }

.menu-btn span::after {
  transform: translateY(-6px); }

.menu-btn_active span {
  height: 0;
  transition: 0.3; }

.menu-btn_active {
  position: fixed; }

.menu-btn_active span::before {
  transform: rotate(40deg);
  background-color: #ff6a6d; }

.menu-btn_active span::after {
  transform: rotate(-40deg);
  background-color: #ff6a6d; }

.top-nav_menu_active {
  visibility: visible !important;
  transform: translateX(0px) !important; }

/* MENU-BTN */
.container {
  max-width: 1420px;
  margin: 0 auto; }

/* HEADER START */
header {
  background: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-bottom: 700px; }
  @media screen and (max-width: 1200px) {
    header {
      padding-bottom: 570px; } }
  @media screen and (max-width: 768px) {
    header {
      padding-bottom: 470px; } }
  @media screen and (max-width: 440px) {
    header {
      background-position: center;
      padding-bottom: 200px; } }

.heading {
  padding: 80px 0px 160px 0px;
  max-width: 1380px;
  margin: 0 auto; }
  @media screen and (max-width: 992px) {
    .heading {
      padding-top: 45px; } }
  @media screen and (max-width: 568px) {
    .heading {
      padding: 45px 0px 80px 0px; } }
  .heading .logo {
    color: #ff6a6d;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Fivo Sans Heavy", sans-serif; }
  .heading .top-nav_menu {
    transition: 1s; }
    @media screen and (max-width: 1340px) {
      .heading .top-nav_menu {
        width: 550px; } }
    @media screen and (max-width: 992px) {
      .heading .top-nav_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: white;
        visibility: hidden;
        transform: translateX(992px); } }
    .heading .top-nav_menu ul {
      display: flex;
      align-items: flex-end;
      margin: 0; }
      @media screen and (max-width: 992px) {
        .heading .top-nav_menu ul {
          align-items: center;
          flex-direction: column;
          justify-content: space-around;
          padding-top: 30px;
          height: 60vh;
          max-height: 260px; } }
      .heading .top-nav_menu ul li {
        list-style: none; }
        @media screen and (max-width: 992px) {
          .heading .top-nav_menu ul li {
            margin-bottom: 20px; } }
        .heading .top-nav_menu ul li a {
          font-size: 18px;
          font-weight: 500;
          color: #7f9999;
          text-decoration: none;
          padding: 0 30px;
          transition: 0.2s; }
          .heading .top-nav_menu ul li a:hover {
            color: #ff6a6d; }
  .heading .login-btn {
    padding: 12px 40px;
    border-radius: 35px;
    letter-spacing: 3;
    margin-right: 20px; }
    @media screen and (max-width: 440px) {
      .heading .login-btn {
        display: none; } }
  .heading .login-btn_active {
    display: block; }

.header-description {
  padding-left: 115px; }
  @media screen and (max-width: 992px) {
    .header-description {
      padding: 0px 20px; } }
  @media screen and (max-width: 567px) {
    .header-description {
      padding: 0px 5px; } }
  .header-description h1 {
    max-width: 550px;
    line-height: 1.3;
    padding-bottom: 50px; }
  .header-description p {
    max-width: 480px;
    padding-bottom: 60px; }
  .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
    font-size: 20px;
    padding: 30px 80px;
    border-radius: 40px; }
    @media screen and (max-width: 992px) {
      .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
        font-size: 19px;
        padding: 25px 70px; } }
    @media screen and (max-width: 768px) {
      .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
        font-size: 17px;
        padding: 20px 60px; } }
    @media screen and (max-width: 567px) {
      .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
        font-size: 16px;
        padding: 15px 50px; } }
    @media screen and (max-width: 450px) {
      .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
        font-size: 15px;
        padding: 10px 40px; } }
    @media screen and (max-width: 350px) {
      .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
        font-size: 14px;
        padding: 8px 36px; } }
    @media screen and (max-width: 320px) {
      .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
        font-size: 13px;
        padding: 6px 30px; } }
  .header-description .act-btn-container .btn-signup {
    margin-left: 15px; }

/* HEADER END */
/* WHY BERYOGA START */
.why-beryoga .why-beryoga_title {
  padding-bottom: 130px; }
  @media screen and (max-width: 1200px) {
    .why-beryoga .why-beryoga_title {
      padding-bottom: 100px; } }
  @media screen and (max-width: 567px) {
    .why-beryoga .why-beryoga_title {
      padding-bottom: 70px; } }
  .why-beryoga .why-beryoga_title h2 {
    text-align: center;
    padding-bottom: 40px; }
  .why-beryoga .why-beryoga_title p {
    text-align: center;
    max-width: 660px;
    margin: 0 auto; }

.why-beryoga .advantages-container {
  padding-bottom: 125px; }
  @media screen and (max-width: 1200px) {
    .why-beryoga .advantages-container {
      padding-bottom: 65px; } }
  .why-beryoga .advantages-container .advantages-block article {
    padding: 80px 0px 35px 0px;
    text-align: center; }
    @media screen and (max-width: 1200px) {
      .why-beryoga .advantages-container .advantages-block article {
        padding: 50px 0px 25px 0px; } }
  .why-beryoga .advantages-container .advantages-block p {
    max-width: 275px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6; }
  .why-beryoga .advantages-container .advantages-block img {
    display: block;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .why-beryoga .advantages-container .advantages-block img {
        max-width: 50%; } }
  @media screen and (max-width: 768px) {
    .why-beryoga .advantages-container .advantages-block {
      margin-bottom: 50px; } }

/* WHY BERYOGA END */
/* CLASSES START */
.classes {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 230px; }
  @media screen and (max-width: 1200px) {
    .classes {
      padding-bottom: 80px; } }
  @media screen and (max-width: 567px) {
    .classes {
      padding-bottom: 20px; } }
  .classes .classes_decorate_img1 {
    position: absolute;
    left: 0;
    top: 330px; }
    @media screen and (max-width: 1200px) {
      .classes .classes_decorate_img1 {
        display: none; } }
  .classes .classes_decorate_img2 {
    position: absolute;
    right: 0px;
    top: 0; }
    @media screen and (max-width: 1200px) {
      .classes .classes_decorate_img2 {
        display: none; } }
  .classes .classes-container {
    max-width: 1300px;
    margin: 0 auto; }
  .classes .classes-container {
    padding-top: 120px; }
    @media screen and (max-width: 1200px) {
      .classes .classes-container {
        padding-top: 0px; } }
    .classes .classes-container .classes-f-col img {
      max-width: 100%;
      height: auto;
      display: block; }
      @media screen and (max-width: 1200px) {
        .classes .classes-container .classes-f-col img {
          margin: 0 auto;
          max-width: 85%; } }
    .classes .classes-container .classes-s-col {
      padding-top: 30px; }
      .classes .classes-container .classes-s-col h3 {
        padding-bottom: 80px; }
        @media screen and (max-width: 1200px) {
          .classes .classes-container .classes-s-col h3 {
            text-align: center; } }
      .classes .classes-container .classes-s-col .classes-item {
        margin-left: 72px; }
        @media screen and (max-width: 1200px) {
          .classes .classes-container .classes-s-col .classes-item {
            margin-left: 0px; } }
        .classes .classes-container .classes-s-col .classes-item article {
          position: relative; }
          .classes .classes-container .classes-s-col .classes-item article::after {
            content: url("../img/classes_check_img.png");
            position: absolute;
            left: -50px;
            top: -2px; }
            @media screen and (max-width: 1200px) {
              .classes .classes-container .classes-s-col .classes-item article::after {
                left: 50%;
                margin-left: -15px;
                top: -40px; } }
          @media screen and (max-width: 1200px) {
            .classes .classes-container .classes-s-col .classes-item article {
              text-align: center; } }
        .classes .classes-container .classes-s-col .classes-item p {
          padding: 15px 0px 50px 0px;
          max-width: 460px; }
          @media screen and (max-width: 1200px) {
            .classes .classes-container .classes-s-col .classes-item p {
              text-align: center;
              margin: 0 auto;
              padding: 15px 0px 60px 0px; } }

/* CLASSES END */
/* HEALING POWER START */
.healing-power .healing-power_info span {
  font-size: 20px;
  color: #7f9999; }

.healing-power .healing-power_info h4 {
  padding: 13px 0px 70px 0px; }
  @media screen and (max-width: 567px) {
    .healing-power .healing-power_info h4 {
      padding-bottom: 40px; } }

.healing-power .healing-power_info p {
  max-width: 390px;
  margin-left: 55px;
  padding-bottom: 70px; }
  @media screen and (max-width: 1200px) {
    .healing-power .healing-power_info p {
      text-align: center;
      margin: 0 auto;
      max-width: 600px; } }
  @media screen and (max-width: 567px) {
    .healing-power .healing-power_info p {
      padding-bottom: 30px; } }

.healing-power .healing-power_info .read-more-link {
  margin-left: 55px; }

.healing-power .healing-power_img img {
  max-width: 100%;
  height: auto;
  display: block; }
  @media screen and (max-width: 1200px) {
    .healing-power .healing-power_img img {
      margin: 0 auto;
      padding-bottom: 50px;
      max-width: 85%; } }

/* HEALING POWER END */
/* FIVE WAYS START */
.five-ways {
  padding-top: 420px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .five-ways {
      padding-top: 160px; } }
  @media screen and (max-width: 567px) {
    .five-ways {
      padding-top: 60px; } }
  .five-ways .five-ways_decorate_img1, .five-ways .five-ways_decorate_img3 {
    position: absolute;
    right: 0;
    top: 0; }
    @media screen and (max-width: 1200px) {
      .five-ways .five-ways_decorate_img1, .five-ways .five-ways_decorate_img3 {
        display: none; } }
  .five-ways .five-ways_decorate_img2 {
    position: absolute;
    left: 0;
    top: 0; }
    @media screen and (max-width: 1200px) {
      .five-ways .five-ways_decorate_img2 {
        display: none; } }
  .five-ways .five-ways_img img {
    max-width: 100%;
    height: auto;
    display: block; }
    @media screen and (max-width: 1200px) {
      .five-ways .five-ways_img img {
        margin: 0 auto;
        padding-bottom: 40px;
        max-width: 85%; } }
  .five-ways .five-ways_info h5 {
    padding-bottom: 65px; }
    @media screen and (max-width: 1200px) {
      .five-ways .five-ways_info h5 {
        text-align: center; } }
    @media screen and (max-width: 567px) {
      .five-ways .five-ways_info h5 {
        padding-bottom: 40px;
        text-align: none; } }
  .five-ways .five-ways_info .five-ways_info_paragraphs p {
    max-width: 550px;
    padding-bottom: 10px;
    margin-left: 100px; }
    .five-ways .five-ways_info .five-ways_info_paragraphs p:last-child {
      padding-bottom: 60px; }
      @media screen and (max-width: 567px) {
        .five-ways .five-ways_info .five-ways_info_paragraphs p:last-child {
          padding-bottom: 40px; } }
    @media screen and (max-width: 1200px) {
      .five-ways .five-ways_info .five-ways_info_paragraphs p {
        text-align: center;
        margin: 0 auto; } }
  .five-ways .five-ways_info .read-more-link {
    margin-left: 100px; }

/* FIVE WAYS END */
/* FOOTER / OFFERS START */
.offers {
  background: url(../img/footer-bg.png);
  padding-top: 550px;
  background-repeat: no-repeat;
  background-position: center top;
  overflow-x: hidden; }
  @media screen and (max-width: 1200px) {
    .offers {
      background-position: center bottom;
      padding-top: 150px; } }
  @media screen and (max-width: 478px) {
    .offers {
      padding-top: 80px; } }
  .offers .offers-packets {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px; }
    @media screen and (max-width: 1200px) {
      .offers .offers-packets {
        flex-direction: column;
        align-items: center; } }
    @media screen and (max-width: 768px) {
      .offers .offers-packets {
        padding-bottom: 60px; } }
    .offers .offers-packets .offers-first-packet, .offers .offers-packets .offers-second-packet, .offers .offers-packets .offers-third-packet {
      background-color: #FFF;
      padding: 60px 0px 30px 0px;
      width: 475px;
      height: 680px;
      border-radius: 20px;
      box-shadow: -8px 8px 20px #7ce0fb; }
      @media screen and (max-width: 1200px) {
        .offers .offers-packets .offers-first-packet, .offers .offers-packets .offers-second-packet, .offers .offers-packets .offers-third-packet {
          margin-bottom: 40px; } }
      @media screen and (max-width: 768px) {
        .offers .offers-packets .offers-first-packet, .offers .offers-packets .offers-second-packet, .offers .offers-packets .offers-third-packet {
          width: 400px;
          height: 600px;
          padding: 45px 0px 30px 0px; } }
      @media screen and (max-width: 478px) {
        .offers .offers-packets .offers-first-packet, .offers .offers-packets .offers-second-packet, .offers .offers-packets .offers-third-packet {
          width: 290px;
          height: 490px;
          padding: 15px 0px 10px 0px; } }
      .offers .offers-packets .offers-first-packet ul, .offers .offers-packets .offers-second-packet ul, .offers .offers-packets .offers-third-packet ul {
        list-style: none; }
        .offers .offers-packets .offers-first-packet ul li, .offers .offers-packets .offers-second-packet ul li, .offers .offers-packets .offers-third-packet ul li {
          padding-left: 125px;
          position: relative;
          margin-bottom: 30px;
          font-family: "Fivo Sans Light", sans-serif;
          line-height: 2.3;
          color: #7f9999; }
          @media screen and (max-width: 478px) {
            .offers .offers-packets .offers-first-packet ul li, .offers .offers-packets .offers-second-packet ul li, .offers .offers-packets .offers-third-packet ul li {
              padding-left: 70px;
              font-size: 17px; } }
          .offers .offers-packets .offers-first-packet ul li::after, .offers .offers-packets .offers-second-packet ul li::after, .offers .offers-packets .offers-third-packet ul li::after {
            content: url("../img/check_offer1.png");
            position: absolute;
            left: 55px; }
            @media screen and (max-width: 478px) {
              .offers .offers-packets .offers-first-packet ul li::after, .offers .offers-packets .offers-second-packet ul li::after, .offers .offers-packets .offers-third-packet ul li::after {
                left: 15px; } }
      .offers .offers-packets .offers-first-packet .offers_package-rate, .offers .offers-packets .offers-second-packet .offers_package-rate, .offers .offers-packets .offers-third-packet .offers_package-rate {
        position: relative;
        padding-top: 50px;
        left: 50%;
        margin-left: -100px; }
        @media screen and (max-width: 768px) {
          .offers .offers-packets .offers-first-packet .offers_package-rate, .offers .offers-packets .offers-second-packet .offers_package-rate, .offers .offers-packets .offers-third-packet .offers_package-rate {
            padding-top: 0px; } }
        @media screen and (max-width: 478px) {
          .offers .offers-packets .offers-first-packet .offers_package-rate, .offers .offers-packets .offers-second-packet .offers_package-rate, .offers .offers-packets .offers-third-packet .offers_package-rate {
            margin-left: -80px; } }
        .offers .offers-packets .offers-first-packet .offers_package-rate .sign-dollar, .offers .offers-packets .offers-second-packet .offers_package-rate .sign-dollar, .offers .offers-packets .offers-third-packet .offers_package-rate .sign-dollar {
          position: absolute;
          top: 45px;
          left: -25px;
          font-size: 48px;
          color: #7e7c7c; }
          @media screen and (max-width: 478px) {
            .offers .offers-packets .offers-first-packet .offers_package-rate .sign-dollar, .offers .offers-packets .offers-second-packet .offers_package-rate .sign-dollar, .offers .offers-packets .offers-third-packet .offers_package-rate .sign-dollar {
              top: 25px; } }
        .offers .offers-packets .offers-first-packet .offers_package-rate .offer-cost, .offers .offers-packets .offers-second-packet .offers_package-rate .offer-cost, .offers .offers-packets .offers-third-packet .offers_package-rate .offer-cost {
          font-size: 150px;
          color: #7e7c7c;
          margin-left: 20px; }
          @media screen and (max-width: 768px) {
            .offers .offers-packets .offers-first-packet .offers_package-rate .offer-cost, .offers .offers-packets .offers-second-packet .offers_package-rate .offer-cost, .offers .offers-packets .offers-third-packet .offers_package-rate .offer-cost {
              font-size: 130px; } }
          @media screen and (max-width: 478px) {
            .offers .offers-packets .offers-first-packet .offers_package-rate .offer-cost, .offers .offers-packets .offers-second-packet .offers_package-rate .offer-cost, .offers .offers-packets .offers-third-packet .offers_package-rate .offer-cost {
              font-size: 95px; } }
        .offers .offers-packets .offers-first-packet .offers_package-rate .offer-time, .offers .offers-packets .offers-second-packet .offers_package-rate .offer-time, .offers .offers-packets .offers-third-packet .offers_package-rate .offer-time {
          font-size: 30px;
          color: #7e7c7c; }
        .offers .offers-packets .offers-first-packet .offers_package-rate .payment, .offers .offers-packets .offers-second-packet .offers_package-rate .payment, .offers .offers-packets .offers-third-packet .offers_package-rate .payment {
          padding: 20px 0px 40px 0px;
          color: #7e7c7c;
          margin-left: 40px;
          display: block;
          font-family: "Fivo Sans Oblique", sans-serif; }
          @media screen and (max-width: 478px) {
            .offers .offers-packets .offers-first-packet .offers_package-rate .payment, .offers .offers-packets .offers-second-packet .offers_package-rate .payment, .offers .offers-packets .offers-third-packet .offers_package-rate .payment {
              margin-left: 25px;
              padding: 15px 0px 25px 0px; } }
      .offers .offers-packets .offers-first-packet .btn-become-member, .offers .offers-packets .offers-second-packet .btn-become-member, .offers .offers-packets .offers-third-packet .btn-become-member {
        border-radius: 40px;
        text-align: center;
        margin: 0 auto;
        display: block;
        background-color: #7ce0fb;
        width: 225px;
        border: solid 2px #7ce0fb;
        height: 66px;
        line-height: 66px;
        box-shadow: -8px 8px 20px #7ce0fb; }
        .offers .offers-packets .offers-first-packet .btn-become-member:hover, .offers .offers-packets .offers-second-packet .btn-become-member:hover, .offers .offers-packets .offers-third-packet .btn-become-member:hover {
          color: #7ce0fb;
          background-color: transparent;
          box-shadow: none; }
        @media screen and (max-width: 992px) {
          .offers .offers-packets .offers-first-packet .btn-become-member, .offers .offers-packets .offers-second-packet .btn-become-member, .offers .offers-packets .offers-third-packet .btn-become-member {
            font-size: 17px;
            width: 200px;
            height: 55px;
            line-height: 55px; } }
        @media screen and (max-width: 567px) {
          .offers .offers-packets .offers-first-packet .btn-become-member, .offers .offers-packets .offers-second-packet .btn-become-member, .offers .offers-packets .offers-third-packet .btn-become-member {
            font-size: 14px;
            width: 180px;
            height: 45px;
            line-height: 45px; } }
    .offers .offers-packets .offers-second-packet {
      box-shadow: 0px 0px 40px 0px #fcb3b4;
      width: 500px;
      height: 768px;
      z-index: 1;
      padding: 0px;
      overflow-x: hidden;
      position: relative;
      top: -50px; }
      @media screen and (max-width: 1200px) {
        .offers .offers-packets .offers-second-packet {
          top: 0px; } }
      @media screen and (max-width: 768px) {
        .offers .offers-packets .offers-second-packet {
          width: 425px;
          height: 686px; } }
      @media screen and (max-width: 478px) {
        .offers .offers-packets .offers-second-packet {
          width: 290px;
          height: 490px; } }
      .offers .offers-packets .offers-second-packet article {
        text-align: center;
        font-size: 30px;
        color: #FFF;
        font-family: "Fivo Sans Bold", sans-serif;
        text-transform: uppercase;
        background-color: #ff6a6d;
        padding: 45px 0px 35px 0px;
        margin-bottom: 40px; }
        @media screen and (max-width: 768px) {
          .offers .offers-packets .offers-second-packet article {
            margin-bottom: 30px;
            padding: 35px 0px 25px 0px; } }
        @media screen and (max-width: 478px) {
          .offers .offers-packets .offers-second-packet article {
            margin-bottom: 20px;
            padding: 25px 0px 15px 0px;
            font-size: 24px; } }
      .offers .offers-packets .offers-second-packet ul li:after {
        content: url("../img/check_offer2.png"); }
      @media screen and (max-width: 478px) {
        .offers .offers-packets .offers-second-packet ul li {
          margin-bottom: 15px; } }
      .offers .offers-packets .offers-second-packet .btn-become-member {
        box-shadow: -8px 8px 20px #ff6a6d;
        background-color: #ff6a6d;
        border: solid 2px #ff6a6d; }
        .offers .offers-packets .offers-second-packet .btn-become-member:hover {
          color: #ff6a6d; }
      .offers .offers-packets .offers-second-packet .offers_package-rate {
        margin-left: -165px; }
        @media screen and (max-width: 768px) {
          .offers .offers-packets .offers-second-packet .offers_package-rate {
            margin-left: -145px; } }
        @media screen and (max-width: 478px) {
          .offers .offers-packets .offers-second-packet .offers_package-rate {
            margin-left: -105px; } }
        .offers .offers-packets .offers-second-packet .offers_package-rate .payment {
          margin-left: 30px; }
          @media screen and (max-width: 478px) {
            .offers .offers-packets .offers-second-packet .offers_package-rate .payment {
              margin-left: -10px; } }
        @media screen and (max-width: 768px) {
          .offers .offers-packets .offers-second-packet .offers_package-rate .offer-cost {
            font-size: 130px; } }
        @media screen and (max-width: 478px) {
          .offers .offers-packets .offers-second-packet .offers_package-rate .offer-cost {
            font-size: 80px; } }
    .offers .offers-packets .offers-third-packet article {
      text-align: center;
      font-size: 30px;
      color: #7e7c7c;
      font-family: "Fivo Sans Bold", sans-serif;
      padding-bottom: 40px; }

.footer-wrap {
  max-width: 1200px;
  margin: 0 auto; }

.footer-container {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 110px 0px 40px 0px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  max-width: 1420px; }
  @media screen and (max-width: 1200px) {
    .footer-container {
      border-top-right-radius: 60px;
      border-top-left-radius: 60px; } }
  @media screen and (max-width: 568px) {
    .footer-container {
      padding-bottom: 40px; } }
  @media screen and (max-width: 992px) {
    .footer-container .contact-us {
      padding-bottom: 30px; } }
  .footer-container .contact-us span {
    font-family: "Fivo Sans Heavy", sans-serif;
    text-transform: uppercase;
    color: #7e7c7c;
    text-align: center;
    margin-left: 25px; }
    @media screen and (max-width: 1200px) {
      .footer-container .contact-us span {
        margin-left: 0px; } }
  .footer-container .contact-us p {
    max-width: 200px;
    font-size: 16px;
    line-height: 1.6;
    padding-top: 50px;
    text-align: left; }
    @media screen and (max-width: 576px) {
      .footer-container .contact-us p {
        max-width: 200px;
        margin: 0 0 0 0; } }
  .footer-container .contact-us a {
    text-decoration: none;
    color: #7e7c7c; }
    .footer-container .contact-us a:hover {
      color: #ff6a6d; }
  @media screen and (max-width: 568px) {
    .footer-container .about-us, .footer-container .our-programs, .footer-container .support-trails {
      padding-bottom: 40px; } }
  .footer-container .about-us span, .footer-container .our-programs span, .footer-container .support-trails span {
    font-family: "Fivo Sans Heavy", sans-serif;
    text-transform: uppercase;
    color: #7e7c7c;
    text-align: center; }
  .footer-container .about-us nav, .footer-container .our-programs nav, .footer-container .support-trails nav {
    padding-top: 55px;
    list-style-type: none; }
    @media screen and (max-width: 578px) {
      .footer-container .about-us nav, .footer-container .our-programs nav, .footer-container .support-trails nav {
        padding: 25px 0px 40px 0px; } }
    .footer-container .about-us nav li, .footer-container .our-programs nav li, .footer-container .support-trails nav li {
      padding-bottom: 20px; }
      .footer-container .about-us nav li a, .footer-container .our-programs nav li a, .footer-container .support-trails nav li a {
        text-decoration: none;
        color: #7e7c7c;
        transition: 0.2s; }
        .footer-container .about-us nav li a:hover, .footer-container .our-programs nav li a:hover, .footer-container .support-trails nav li a:hover {
          color: #ff6a6d; }
  .footer-container p {
    padding: 105px 0 0px 0px;
    text-align: center;
    color: #7e7c7c; }
    @media screen and (max-width: 578px) {
      .footer-container p {
        padding: 0px 0px 0px 0px;
        font-size: 16px;
        max-width: 250px;
        margin: 0 auto; } }
