.container {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
  box-sizing: content-box; }

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.overflow-hidden {
  overflow: hidden; }

@font-face {
  font-family: 'FivoSans';
  src: url("../fonts/FivoSans-Light.eot");
  src: url("../fonts/FivoSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FivoSans-Light.woff2") format("woff2"), url("../fonts/FivoSans-Light.woff") format("woff"), url("../fonts/FivoSans-Light.svg#FivoSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'FivoSans Oblique';
  src: url("../fonts/FivoSans-Oblique.eot");
  src: url("../fonts/FivoSans-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/FivoSans-Oblique.woff2") format("woff2"), url("../fonts/FivoSans-Oblique.woff") format("woff"), url("../fonts/FivoSans-Oblique.svg#FivoSans-Oblique") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'FivoSans';
  src: url("../fonts/FivoSans-Regular.eot");
  src: url("../fonts/FivoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FivoSans-Regular.woff2") format("woff2"), url("../fonts/FivoSans-Regular.woff") format("woff"), url("../fonts/FivoSans-Regular.svg#FivoSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'FivoSans';
  src: url("../fonts/FivoSans-Medium.eot");
  src: url("../fonts/FivoSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FivoSans-Medium.woff2") format("woff2"), url("../fonts/FivoSans-Medium.woff") format("woff"), url("../fonts/FivoSans-Medium.svg#FivoSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'FivoSans';
  src: url("../fonts/FivoSans-Bold.eot");
  src: url("../fonts/FivoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FivoSans-Bold.woff2") format("woff2"), url("../fonts/FivoSans-Bold.woff") format("woff"), url("../fonts/FivoSans-Bold.svg#FivoSans-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'FivoSans';
  src: url("../fonts/FivoSans-Heavy.eot");
  src: url("../fonts/FivoSans-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FivoSans-Heavy.woff2") format("woff2"), url("../fonts/FivoSans-Heavy.woff") format("woff"), url("../fonts/FivoSans-Heavy.svg#FivoSans-Heavy") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

.header-description .page-title, .why-beryoga .why-beryoga_title .section-title, .offers .offers-container .section-title, .blog .block-title {
  font-family: 'FivoSans';
  font-weight: 600;
  line-height: 1.5;
  color: #3b3838;
  font-size: 2.5rem; }
  @media screen and (max-width: 767px) {
    .header-description .page-title, .why-beryoga .why-beryoga_title .section-title, .offers .offers-container .section-title, .blog .block-title {
      font-size: 1.8rem; } }

.why-beryoga .advantages-container .advantages-block .block-title, .offers .offers-container .offers-item .block-title {
  font-family: 'FivoSans';
  font-weight: 600;
  line-height: 1.5;
  color: #3b3838;
  font-size: 1.2rem; }

.heading .logo {
  color: #000000;
  text-decoration: none;
  font-family: 'FivoSans';
  font-weight: 700;
  line-height: 1.5;
  color: #3b3838;
  color: #ff6a6d;
  font-size: 1.6rem; }

.heading .top-nav_menu .top-nav_list a {
  color: #000000;
  text-decoration: none;
  font-family: 'FivoSans';
  font-weight: 500;
  line-height: 1.5;
  color: #3b3838;
  font-size: .9rem;
  color: #7f9999;
  line-height: 2.5; }

.blog .article_info_content .read-more-link {
  font-family: 'FivoSans';
  font-weight: 400;
  line-height: 1.5;
  color: #3b3838;
  font-size: .9rem;
  color: #84d5f5; }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 20px; }
  @media screen and (max-width: 1199px) {
    html {
      font-size: 18px; } }
  @media screen and (max-width: 991px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 575px) {
    html {
      font-size: 14px; } }

body {
  max-width: 1920px;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Fivo Sans Regular", sans-serif;
  overflow-x: hidden;
  font-size: 18px; }

.paragraph {
  font-family: 'FivoSans';
  font-weight: 300;
  line-height: 1.5;
  color: #3b3838;
  color: #7f9999;
  font-size: .9rem;
  line-height: 2.3;
  text-indent: 15px;
  margin: 0; }
  @media screen and (max-width: 1199px) {
    .paragraph {
      line-height: 2.1; } }
  @media screen and (max-width: 991px) {
    .paragraph {
      line-height: 1.9; } }
  @media screen and (max-width: 575px) {
    .paragraph {
      line-height: 1.7; } }

.btn {
  background-color: #ff6a6d;
  color: #FFF;
  text-decoration: none;
  border: solid 2px #ff6a6d;
  transition: 0.2s;
  box-shadow: -5px 5px 20px #ff6a6d; }
  .btn:hover {
    background-color: transparent;
    color: #ff6a6d;
    box-shadow: none; }

.link-wrap {
  text-align: center; }
  .link-wrap .read-more-link {
    margin-left: 55px;
    text-decoration: none;
    color: #3cbef1; }
    @media screen and (max-width: 1200px) {
      .link-wrap .read-more-link {
        margin: 0px 0px 0px 0px !important; } }

/* MENU-BTN */
.menu-btn {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 991px) {
    .menu-btn {
      display: block; } }
  .menu-btn span, .menu-btn span::before, .menu-btn span::after {
    content: "";
    width: 26px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -13px;
    border-radius: 3px;
    background-color: #7f9999;
    transition: 0.3s; }
  .menu-btn span::after {
    transform: translateY(-6px); }
  .menu-btn span:before {
    transform: translateY(6px); }

.menu-btn_active span {
  height: 0;
  transition: 0.3; }
  .menu-btn_active span:before {
    transform: rotate(40deg);
    background-color: #ff6a6d; }
  .menu-btn_active span:after {
    transform: rotate(-40deg);
    background-color: #ff6a6d; }

/* MENU-BTN */
/* HEADER START */
header {
  width: 100%;
  min-height: 1526px;
  margin: 0 auto;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: center top; }
  @media screen and (max-width: 1919px) {
    header {
      min-height: 1500px; } }
  @media screen and (max-width: 1199px) {
    header {
      min-height: 1000px; } }
  @media screen and (max-width: 991px) {
    header {
      min-height: 700px; } }
  @media screen and (max-width: 767px) {
    header {
      background-position: left top; } }

.heading {
  padding: 4rem 0 8rem; }
  @media screen and (max-width: 991px) {
    .heading {
      padding: 4rem 1rem 4rem; } }
  .heading .top-nav_menu {
    transition: .8s; }
    @media screen and (max-width: 991px) {
      .heading .top-nav_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        visibility: hidden;
        transform: translateX(992px); }
        .heading .top-nav_menu_active {
          visibility: visible !important;
          z-index: 100;
          transform: translateX(0px) !important; } }
    .heading .top-nav_menu .top-nav_list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex; }
      @media screen and (max-width: 991px) {
        .heading .top-nav_menu .top-nav_list {
          padding: calc(4rem + 50px) 50px 0; } }
      .heading .top-nav_menu .top-nav_list a {
        padding: 0 30px;
        transition: 0.3s; }
        @media screen and (max-width: 991px) {
          .heading .top-nav_menu .top-nav_list a {
            display: block;
            text-align: center;
            line-height: 5; } }
        .heading .top-nav_menu .top-nav_list a:hover {
          color: #ff6a6d; }
  .heading #login {
    margin-left: 5rem;
    padding: 0 2rem;
    border: 0;
    border-radius: 35px;
    letter-spacing: 3;
    color: #ffffff;
    transition: all 0.3s; }
    @media screen and (max-width: 991px) {
      .heading #login {
        width: 50%;
        margin: 2rem auto;
        line-height: 2.5; } }
    .heading #login:hover {
      box-shadow: inset 0px 0px 0px 2px #ff6a6d;
      transition: all 0.3s; }

.header-description {
  width: 50%;
  padding-left: 8%; }
  @media screen and (max-width: 1199px) {
    .header-description {
      width: 80%; } }
  @media screen and (max-width: 991px) {
    .header-description {
      width: 100%;
      padding-left: 0; } }
  .header-description .page-title {
    line-height: 1.3;
    margin-bottom: 2.5rem; }
  .header-description .paragraph {
    margin-bottom: 2.5rem; }
    @media screen and (max-width: 575px) {
      .header-description .paragraph {
        margin-bottom: 4.5rem;
        color: #000000; } }
  .header-description .act-btn-container {
    margin-bottom: 2.5rem; }
    .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
      font-size: 1rem;
      padding: 1rem 4rem;
      border-radius: 40px; }
      @media screen and (max-width: 991px) {
        .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
          margin: 0 0 10px;
          width: 50%; } }
      @media screen and (max-width: 575px) {
        .header-description .act-btn-container .btn-service, .header-description .act-btn-container .btn-signup {
          width: 100%;
          margin: 0 0 10px; } }

/* HEADER END */
/* WHY BERYOGA START */
.why-beryoga .why-beryoga_title {
  max-width: 720px;
  margin: 0 auto 6rem; }
  .why-beryoga .why-beryoga_title .section-title {
    margin-bottom: 2rem; }

.why-beryoga .advantages-container {
  margin-bottom: 6.25rem; }
  @media screen and (max-width: 1919px) {
    .why-beryoga .advantages-container {
      margin-bottom: 3.25; } }
  @media screen and (max-width: 575px) {
    .why-beryoga .advantages-container {
      margin-bottom: 0; } }
  .why-beryoga .advantages-container .advantages-block .block-title {
    text-align: center;
    margin-bottom: 1rem; }
  .why-beryoga .advantages-container .advantages-block:nth-child(1)::before {
    content: '';
    background-image: url("../img/why-beryoga_1-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: auto;
    height: 11rem;
    display: block;
    margin-bottom: 3.5rem; }
  .why-beryoga .advantages-container .advantages-block:nth-child(2)::before {
    content: '';
    background-image: url("../img/why-beryoga_2-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: auto;
    height: 11rem;
    display: block;
    margin-bottom: 3.5rem; }
  .why-beryoga .advantages-container .advantages-block:nth-child(3)::before {
    content: '';
    background-image: url("../img/why-beryoga_3-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: auto;
    height: 11rem;
    display: block;
    margin-bottom: 3.5rem; }
  .why-beryoga .advantages-container .advantages-block .paragraph {
    padding: 0 3.5rem;
    text-align: center;
    line-height: 1.6; }
  @media screen and (max-width: 768px) {
    .why-beryoga .advantages-container .advantages-block {
      margin-bottom: 2.5rem; } }

/* WHY BERYOGA END */
/* CLASSES START */
.offers {
  position: relative;
  margin-bottom: 11rem; }
  @media screen and (max-width: 1199px) {
    .offers {
      margin-bottom: 5rem; } }
  @media screen and (max-width: 767px) {
    .offers {
      margin-bottom: 2rem; } }
  .offers::before, .offers::after {
    content: '';
    position: absolute; }
    @media screen and (max-width: 575px) {
      .offers::before, .offers::after {
        display: none; } }
  .offers::before {
    background-image: url("../img/offers-decorate_img1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 9rem;
    height: 19rem; }
  .offers:after {
    background-image: url("../img/offers-decorate_img2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 0;
    top: 0;
    width: 7rem;
    height: 25rem; }
  @media screen and (max-width: 1919px) {
    .offers {
      padding-bottom: 4rem; } }
  @media screen and (max-width: 767px) {
    .offers {
      padding-bottom: 1rem; } }
  .offers .offers-container {
    display: flex; }
    @media screen and (max-width: 1199px) {
      .offers .offers-container {
        flex-direction: column; } }
    .offers .offers-container .offers-wrapper {
      width: 50%; }
      @media screen and (max-width: 1199px) {
        .offers .offers-container .offers-wrapper {
          width: 100%;
          text-align: center; } }
    .offers .offers-container::before {
      content: '';
      display: block;
      margin: auto 0;
      width: 50%;
      height: 35rem;
      background-image: url("../img/offers-main_img.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
      @media screen and (max-width: 1199px) {
        .offers .offers-container::before {
          width: 100%; } }
      @media screen and (max-width: 767px) {
        .offers .offers-container::before {
          height: 25rem; } }
    .offers .offers-container .section-title {
      margin: 6rem 0 3.7rem; }
      @media screen and (max-width: 1199px) {
        .offers .offers-container .section-title {
          margin: 2.5rem 0; } }
    .offers .offers-container .offers-item {
      padding-left: 74px; }
      @media screen and (max-width: 1199px) {
        .offers .offers-container .offers-item {
          width: 60%;
          margin: 0 auto;
          padding-left: 0;
          text-align: center; } }
      @media screen and (max-width: 575px) {
        .offers .offers-container .offers-item {
          width: 100%; } }
      .offers .offers-container .offers-item .block-title {
        position: relative; }
        @media screen and (max-width: 1199px) {
          .offers .offers-container .offers-item .block-title {
            padding-top: 35px; } }
        .offers .offers-container .offers-item .block-title::before {
          content: '';
          width: 30px;
          height: 25px;
          background-image: url("../img/offers_check_img.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: -37px;
          transform: translateX(-50%); }
          @media screen and (max-width: 1199px) {
            .offers .offers-container .offers-item .block-title::before {
              top: 0;
              left: 50%; } }
      .offers .offers-container .offers-item .paragraph {
        padding: 0 0 1.5rem; }

/* CLASSES END */
/* BLOG START */
.blog {
  position: relative; }
  .blog::before, .blog::after {
    content: '';
    position: absolute; }
    @media screen and (max-width: 575px) {
      .blog::before, .blog::after {
        display: none; } }
  .blog::before {
    background-image: url("../img/5ways_decoration_2img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 11rem;
    height: 23rem; }
  .blog:after {
    background-image: url("../img/5ways_decoration_1img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 0;
    top: 0;
    width: 9.75rem;
    height: 30rem; }
  .blog .article {
    display: flex;
    margin-bottom: 11rem; }
    @media screen and (max-width: 1199px) {
      .blog .article {
        flex-direction: column !important;
        margin-bottom: 5rem; } }
    @media screen and (max-width: 767px) {
      .blog .article {
        margin-bottom: 2rem; } }
    .blog .article:nth-child(even)::after, .blog .article:nth-child(odd)::before {
      content: '';
      display: block;
      margin: auto 0;
      width: 50%;
      height: 35rem; }
      @media screen and (max-width: 1199px) {
        .blog .article:nth-child(even)::after, .blog .article:nth-child(odd)::before {
          width: 100%;
          margin-bottom: 2rem; } }
      @media screen and (max-width: 767px) {
        .blog .article:nth-child(even)::after, .blog .article:nth-child(odd)::before {
          height: 25rem; } }
    .blog .article:nth-child(even)::after {
      background-image: url("../img/healing_img.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .blog .article:nth-child(odd)::before {
      background-image: url("../img/five-ways_main_img.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-position: left center; }
      @media screen and (max-width: 1199px) {
        .blog .article:nth-child(odd)::before {
          background-position: center; } }
  .blog .block-title {
    margin-bottom: 2rem; }
    @media screen and (max-width: 1199px) {
      .blog .block-title {
        text-align: center; } }
  .blog .article_autor {
    font-family: 'FivoSans Oblique';
    font-size: 1rem;
    color: #000000; }
  .blog .article_info {
    width: 50%; }
    @media screen and (max-width: 1199px) {
      .blog .article_info {
        width: 70%;
        margin: 0 auto;
        order: 1; } }
    @media screen and (max-width: 767px) {
      .blog .article_info {
        width: 100%; } }
  .blog .article_info_content {
    padding-left: 6rem; }
    @media screen and (max-width: 1199px) {
      .blog .article_info_content {
        padding-left: 0; } }
    .blog .article_info_content .read-more-link {
      display: block;
      margin-top: 3rem; }

/* BLOG END */
/* FOOTER / PRICES START */
.main-footer {
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  background-position: center top;
  position: relative; }
  .main-footer::before, .main-footer::after {
    content: "";
    position: absolute;
    width: 10rem;
    height: 17rem;
    top: 50%;
    transform: translateY(-50%); }
    @media screen and (max-width: 767px) {
      .main-footer::before, .main-footer::after {
        display: none; } }
  .main-footer::before {
    left: 0;
    background-image: url("../img/offers-decorate_img1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .main-footer::after {
    right: 0;
    background-image: url("../img/5ways_decoration_3img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .main-footer .prices-packets {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.5rem; }
    @media screen and (max-width: 1199px) {
      .main-footer .prices-packets {
        flex-direction: column; } }
    @media screen and (max-width: 991px) {
      .main-footer .prices-packets {
        margin-bottom: 5rem; } }
    .main-footer .prices-packets .prices-packet {
      padding: 3rem 3.5rem 2.8rem;
      width: 33%;
      height: auto;
      border-radius: 20px;
      box-shadow: 0px 37px 136px 0px rgba(255, 106, 109, 0.19);
      background-color: #ffffff;
      overflow: hidden; }
      @media screen and (max-width: 1919px) {
        .main-footer .prices-packets .prices-packet {
          padding: 3rem 1.5rem 2.8rem; } }
      @media screen and (max-width: 1199px) {
        .main-footer .prices-packets .prices-packet {
          margin-bottom: 2rem;
          width: 70% !important; } }
      @media screen and (max-width: 575px) {
        .main-footer .prices-packets .prices-packet {
          width: 90% !important; } }
      .main-footer .prices-packets .prices-packet .block-title {
        font-family: 'FivoSans';
        font-weight: 700;
        line-height: 1.5;
        color: #3b3838;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2.5rem; }
      @media screen and (max-width: 1199px) {
        .main-footer .prices-packets .prices-packet .prices-content {
          display: flex;
          margin: 2rem 0; } }
      @media screen and (max-width: 767px) {
        .main-footer .prices-packets .prices-packet .prices-content {
          flex-direction: column;
          margin: 0; } }
      .main-footer .prices-packets .prices-packet ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 2.5em; }
        @media screen and (max-width: 1199px) {
          .main-footer .prices-packets .prices-packet ul {
            margin: 0 auto;
            width: 70%; } }
        @media screen and (max-width: 767px) {
          .main-footer .prices-packets .prices-packet ul {
            width: 100%; } }
        .main-footer .prices-packets .prices-packet ul li {
          display: flex;
          margin-bottom: 1.5rem;
          font-family: 'FivoSans';
          font-weight: 300;
          line-height: 1.5;
          color: #3b3838;
          font-size: .9rem;
          color: #7f9999;
          line-height: 2.3;
          vertical-align: center; }
          .main-footer .prices-packets .prices-packet ul li:before {
            content: '';
            padding-left: 1.5rem;
            display: block;
            box-sizing: content-box;
            width: 2rem;
            height: 2rem;
            background-image: url("../img/check_offer1.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center; }
      .main-footer .prices-packets .prices-packet .prices_package-rate {
        text-align: center;
        font-family: 'FivoSans';
        font-weight: 400;
        line-height: 1.5;
        color: #3b3838;
        font-size: 7.5rem;
        line-height: 1;
        color: #7f9999; }
        @media screen and (max-width: 1919px) {
          .main-footer .prices-packets .prices-packet .prices_package-rate {
            font-size: 5rem; } }
        @media screen and (max-width: 1199px) {
          .main-footer .prices-packets .prices-packet .prices_package-rate {
            min-width: 50%; } }
        @media screen and (max-width: 575px) {
          .main-footer .prices-packets .prices-packet .prices_package-rate {
            font-size: 4rem;
            margin: 1rem 0; } }
        .main-footer .prices-packets .prices-packet .prices_package-rate .sign-dollar {
          font-size: 2.4rem;
          vertical-align: 4.5rem; }
          @media screen and (max-width: 1919px) {
            .main-footer .prices-packets .prices-packet .prices_package-rate .sign-dollar {
              vertical-align: 3.5rem; } }
          @media screen and (max-width: 575px) {
            .main-footer .prices-packets .prices-packet .prices_package-rate .sign-dollar {
              font-size: 2rem;
              vertical-align: 2rem; } }
        .main-footer .prices-packets .prices-packet .prices_package-rate .offer-time {
          font-size: 1.5rem; }
          @media screen and (max-width: 1919px) {
            .main-footer .prices-packets .prices-packet .prices_package-rate .offer-time {
              font-size: 1.2rem; } }
        .main-footer .prices-packets .prices-packet .prices_package-rate .payment {
          margin: 1rem 0 2.8rem;
          font-family: "Fivo Sans Oblique", sans-serif;
          font-size: .9rem;
          color: #7f9999;
          text-align: center; }
      .main-footer .prices-packets .prices-packet .btn-become-member {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        border: none;
        display: block;
        font-family: 'FivoSans';
        font-weight: 400;
        line-height: 1.5;
        color: #3b3838;
        border-radius: 38px;
        line-height: 4.3;
        color: #ffffff;
        font-size: .9rem;
        background-image: -moz-linear-gradient(66deg, #21acdd 0%, #9ddae9 100%);
        background-image: -webkit-linear-gradient(66deg, #21acdd 0%, #9ddae9 100%);
        background-image: -ms-linear-gradient(66deg, #21acdd 0%, #9ddae9 100%);
        box-shadow: 0px 21px 23.52px 0.48px rgba(95, 206, 244, 0.29); }
        @media screen and (max-width: 767px) {
          .main-footer .prices-packets .prices-packet .btn-become-member {
            width: 100%; } }
    .main-footer .prices-packets .prices-packet[data-label="best-seller"] {
      position: relative;
      padding-top: 8.25rem;
      width: 37%; }
      .main-footer .prices-packets .prices-packet[data-label="best-seller"]::before {
        content: 'Best seller';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        font-family: 'FivoSans';
        font-weight: 700;
        line-height: 1.5;
        color: #3b3838;
        font-size: 1.5rem;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        background-color: #ff6a6d;
        line-height: 3.5; }
      .main-footer .prices-packets .prices-packet[data-label="best-seller"] ul li:before {
        background-image: url("../img/check_offer2.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; }
      .main-footer .prices-packets .prices-packet[data-label="best-seller"] .btn-become-member {
        background: #ff6a6d;
        box-shadow: 0px 21px 23.52px 0.48px rgba(226, 88, 91, 0.29); }

.footer-info {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5.5rem 0 2rem;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  max-width: 1420px; }
  @media screen and (max-width: 1199px) {
    .footer-info {
      border-top-right-radius: 60px;
      border-top-left-radius: 60px; } }
  @media screen and (max-width: 568px) {
    .footer-info {
      padding-bottom: 40px; } }
  .footer-info .footer-info_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto 4.2rem; }
    .footer-info .footer-info_list .footer-info_item {
      width: 25%; }
      @media screen and (max-width: 991px) {
        .footer-info .footer-info_list .footer-info_item {
          width: 50%;
          margin-bottom: 2.5rem; } }
      .footer-info .footer-info_list .footer-info_item .paragraph {
        text-indent: 0;
        margin-bottom: 1rem; }
        .footer-info .footer-info_list .footer-info_item .paragraph a {
          color: #000000;
          text-decoration: none;
          color: #7f9999; }
      .footer-info .footer-info_list .footer-info_item h5 {
        font-family: 'FivoSans';
        font-weight: 700;
        line-height: 1.5;
        color: #3b3838;
        text-transform: uppercase;
        color: #7f9999;
        font-size: .9rem;
        margin-bottom: 2rem; }
        @media screen and (max-width: 1200px) {
          .footer-info .footer-info_list .footer-info_item h5 {
            margin-left: 0px; } }
      .footer-info .footer-info_list .footer-info_item .footer-nav ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .footer-info .footer-info_list .footer-info_item .footer-nav ul li a {
          font-family: 'FivoSans';
          font-weight: 400;
          line-height: 1.5;
          color: #3b3838;
          font-size: .9rem;
          color: #7f9999;
          line-height: 2.2; }
  .footer-info .copyright {
    font-family: 'FivoSans';
    font-weight: 400;
    line-height: 1.5;
    color: #3b3838;
    font-size: .9rem;
    color: #7f9999;
    text-align: center; }
