.container {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
  box-sizing: content-box; }

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.overflow-hidden {
  overflow: hidden; }
